@CHARSET "ISO-8859-1";

.center {
	width: 100%;
}

.center .title{
	width: 100%;
	text-align: center;
	font-size: 35px;
	border-bottom: 1px solid #aaa;
    padding: 10px 0px 10px 0px;
    background: #ccc;
    line-height: 35px;
}

.center .form {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.center .form .form_table {
	width: 500px;
	height: 150px;
	border: 1px solid #aaa;
	display: inline-block;
	margin-top: 30px;
	padding: 15px;
}

.center .form .form_table table tr td {
	height: 35px;
	display: inline-block;
	padding-top: 5px;
}

.center .form .form_table table tr .td_title {
	width: 150px;
	text-align: right;
	padding: 10px 10px 0px 0px;
}

.center .form .form_table table tr .td_content {
	width: 335px;
	text-align: left;
}


.center .form .form_table table tr .td_content input[type="button"] {
	width: 80px;
	background: #eee;
	border: 1px solid #999;
}

.center .form .form_table table tr .td_content input[type="submit"] {
	width: 80px;
	background: #ccc;
	border: 1px solid #999;
}